<div class="row">
  <div class="col-xl-12 text-center">
    <h1>Actualidad</h1>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="card-columns">

      <div class="card card-outline-info" *ngFor="let popular of populares;">
        <img class="card-img-top img-fluid mx-auto d-block" src="https://image.tmdb.org/t/p/w342{{popular.poster_path}}" alt="">
        <div class="card-block">
          <h4 class="card-title">{{popular.original_title}}</h4>
          <p class="card-text">{{popular.overview|slice:0:200}}..</p>
          <button class="btn btn-outline-info btn-block" [routerLink]="['/detallePelicula',popular.id]">
            <i class="fa fa-search" aria-hidden="true"></i>&nbsp;
            Detalles
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
