<div class="row">
  <div class="col-xl-12 text-center">
    <h1>Actualidad</h1>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="card-columns">

      <div class="card card-inverse card-danger">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="http://fakeimg.pl/242x160?font=lobster" alt="">
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Qui minim ut esse reprehenderit adipisicing culpa amet. Ipsum Lorem eiusmod aliquip elit sint velit amet excepteur
            enim mollit officia amet aute deserunt. Dolore eu tempor aliquip occaecat qui id consequat deserunt occaecat
            duis nisi nisi non cillum. Quis est incididunt sint deserunt ullamco id. Cillum officia cupidatat laboris officia
            fugiat exercitation mollit aliqua excepteur. Tempor laborum officia in nostrud eiusmod.</p>
        </div>
      </div>


    </div>
  </div>
</div>
